.paragraph {
  font-size: 20px;
  line-height: 40px;
  font-family: $fontFamilyMain;
  font-weight: 500;
  color: $colorText;
  text-align: justify;
}

@media (max-width: 481px) {
  .paragraph {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (max-width: 769px) {
  .paragraph {
    line-height: 30px;
  }
}
