.subtitle {
  font-size: 35px;
  margin-bottom: 30px;
  color: #188fff;
}

.section_spacer {
  padding: 100px 70px 0;
}

.paragraph {
  font-size: 20px;
  line-height: 40px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #535353;
}
