.subtitle {
  font-size: 35px;
  margin-bottom: 30px;
  color: #188fff;
}

.move {
  transform: translateX(110px);
  transition: 0.8s;
  opacity: 0;
}

.move[visoring='1'] {
  opacity: 1;
  transform: translateX(0);
}

.section_spacer {
  padding: 100px 70px 0;
  overflow: hidden;
}
