.subtitle {
  font-size: 35px;
  margin-bottom: 30px;
  color: $colorMain;
  font-family: $fontFamilyMain;
}

.move {
  transform: translateX(110px);
  transition: 0.8s;
  opacity: 0;
}

.move[visoring='1'] {
  opacity: 1;
  transform: translateX(0);
}

.t-center {
  text-align: center;
}

.section_spacer {
  padding: 100px 70px 0;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .section_spacer {
    padding: 100px 40px 0;
  }
}

@media (max-width: 769px) {
  .section_spacer {
    padding: 60px 40px 0;
  }
}

@media (max-width: 481px) {
  .section_spacer {
    padding: 60px 20px 0;
  }
}
