.entries-list {
  display: grid;
  gap: 50px;
  list-style: none;
  font-family: $fontFamilyMain;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 190px;
  margin-bottom: 60px;
}

.entry {
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 10px;
  box-shadow: 5px 2px 8px #f4f4f4;
}

.entry a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
}

.entry h2 {
  color: $colorMain;
  transition: 0.6s;
}

.entry p {
  transition: 0.6s;
}

.entry__date {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: .8rem;
  color: #a7a7a7;
}

.entries-title {
  color: $colorMain;
  font-size: 1.7em;
  font-weight: 600;
  font-family: $fontFamilyMain;
  padding-bottom: 20px;
}

.line-animation {
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: $colorMain;
  border-radius: 99px;
  transition: 0.6s;
  animation-timing-function: ease;
  opacity: 0;
}

.line-animation.top {
  left: 0;
  top: 0;
}

.line-animation.left {
  left: 0;
  bottom: 0;
}

.line-animation.right {
  top: 0;
  right: 0;
}

.line-animation.bottom {
  bottom: 0;
  right: 0;
}

.entry:hover .line-animation.top {
  opacity: 1;
  width: 100%;
}

.entry:hover .line-animation.right {
  opacity: 1;
  height: 100%;
}

.entry:hover .line-animation.bottom {
  opacity: 1;
  width: 100%;
}

.entry:hover .line-animation.left {
  opacity: 1;
  height: 100%;
}