.entry__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.entry__subtitle {
  font-size: 1.8rem;
  margin-bottom: 7px;

}

.entry__section-title {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.entry__paragraph {
  margin: 15px 0;
  font-size: 1.2rem;
}

.entry__link {
  color: $colorMain;
  font-weight: 500;
}

.image {
  margin: 30px auto;
  display: block;
  object-fit: cover;
}

.entry__video {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 350px;

}

.vertical {
  width: 300px;
  height: 500px;
}

.horizontal {
  width: 500px;
  height: 300px;
}

.square {
  width: 500px;
  height: 500px;
}