.habilities_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 340px;
  justify-content: center;
  margin-bottom: 40px;
  background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hability {
  background-color: $colorMainTransparent;
  color: white;
  padding: 40px 60px;
  position: relative;
  font-family: 'Poppins';
  overflow: hidden;
}

.titles {
  transition: 0.5s;
  position: relative;
  opacity: 1;
}

.hability:hover .titles {
  transform: translateX(-110%);
}

.description {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  padding: 40px 60px;
  transition: 0.5s;
  font-size: 22px;
  font-weight: 600;
}

.hability:hover .description {
  opacity: 1;
  transform: translateX(-100%);
}

.hability[number='0'] {
  border-right: 13px solid white;
  border-bottom: 13px solid white;
}

.hability[number='1'] {
  background-color: $colorGreemTransparent;
  border-left: 13px solid white;
  border-bottom: 13px solid white;
}

.hability[number='2'] {
  background-color: $colorYellowTransparent;
  border-top: 13px solid white;
  border-right: 13px solid white;
}

.hability[number='3'] {
  background-color: $colorPurpleTransparent;
  border-left: 13px solid white;
  border-top: 13px solid white;
}

.icon {
  font-size: 55px;
}

.name {
  font-size: 35px;
  padding-bottom: 10px;
}

@media (max-width: 1200px) {
  .name {
    font-size: 30px;
  }

  .hability:hover .titles {
    transform: translateX(-120%);
  }
}

@media (max-width: 1025px) {
  .habilities_container {
    grid-auto-rows: 260px;
  }

  .hability {
    padding: 40px 30px;
  }

  .description {
    padding: 10px 30px;
  }

  .icon {
    font-size: 45px;
  }
  .name {
    font-size: 25px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 769px) {
  /*laptop*/
  .habilities_container {
    grid-template-columns: 1fr;
    background-image: url('https://images.unsplash.com/photo-1607799131608-9a22dd60e25e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  }

  .hability[number='0'] {
    border-right: none;
    border-bottom: 25px solid white;
  }

  .hability[number='1'] {
    background-color: $colorGreemTransparent;
    border-left: none;
    border-bottom: 25px solid white;
  }

  .hability[number='2'] {
    background-color: $colorGreemTransparent;
    border-top: none;
    border-right: none;
    border-bottom: 25px solid white;
  }

  .hability[number='3'] {
    background-color: $colorPurpleTransparent;
    border-left: none;
    border-top: none;
  }

  .description {
    padding: 30px 30px;
  }
}

@media (max-width: 481px) {
  .hability,
  .description {
    padding: 30px 15px;
  }

  .description {
    font-size: 15px;
  }
}
