.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.logo__container {
  background-color: #188fff;
  width: 150px;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

.logo {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 20px;
}

.link {
  color: #188fff;
}

.logo span {
  font-family: 'Poppins';
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: 'Poppins';
  height: 100%;
}

.menu li {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  transition: 0.5s;
}

.menu li:hover {
  font-size: 20px;
}

.selector {
  width: 7px;
  height: 3px;
  background-color: #188fff;
  border-radius: 99px;
  margin-top: 2px;
  opacity: 0;
  transition: 0.5s;
}

.menu li:hover .selector {
  animation-name: selection;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.menuActivator {
  display: none;
}

@keyframes selection {
  from {
    width: 7px;
    opacity: 1;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

/* @media (max-width: 1200px) {
  .header {
    background-color: red;
  }
} */

@media (max-width: 1025px) {
  /* display: none; */

  .header {
    overflow: hidden;
    /* justify-content: center; */
  }

  .logo__container {
    /* margin: 0 auto; */
    padding: 10px;
  }

  .nav {
    background-color: #188fff;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 270px;
    padding: 20px 80px 20px 35px;
    transition: 0.5s;
  }

  .nav[visibility='0'] {
    opacity: 0;
    transform: translateX(100%);
  }

  .nav[visibility='1'] {
    opacity: 1;
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
  }

  .menu li {
    /* outline: 1px solid white; */
    align-items: initial;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }

  .selector {
    background-color: white;
    margin-top: 12px;
  }

  .menuActivator {
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    background-color: #188fff;
    color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    z-index: 2;
  }
}

/*
@media (max-width: 769px) {
  laptop
}*/
