.presentation {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 0 70px;
}

.picture {
  width: 300px;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  /* background-image: url('https://res.cloudinary.com/dklpyhteh/image/upload/v1661313348/Portfolio/Portfolio-me_gofeff.jpg');
  background-repeat: no-repeat;
  background-position: -1px -1px;
  background-size: 106% 140%; */
}

.greeting {
  height: 100%;
  width: 500px;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
