.projects {
  /* outline: 1px solid red; */
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
  font-family: 'Poppins';
}

.project {
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  position: relative;
}

.project:hover .content {
  transform: rotateY(180deg);
  opacity: 0;
}

.content {
  transition: 0.6s;
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 15px;
  left: 0;
  color: white;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  opacity: 1;
}

.links {
  transition: 0.6s;
  position: absolute;
  background-color: #e7b008;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  position: absolute;
}

.links a {
  margin: 7px 0;
  transform: rotateY(180deg);
}

.links[id='b'],
.links[id='e'] {
  background-color: #4caf50;
}

.links[id='c'] {
  background-color: #9c27b0;
}

.project:hover .links {
  opacity: 1;
  transform: rotateY(180deg);
}

.description {
  font-size: 20px;
}
