//Colors
$colorMain: #2196f3;
$colorText: #535353;
$colorGreen: #4caf50;
$colorYellow: #e7b008;
$colorPurple: #9c27b0;
$colorMainTransparent: #2196f3cf;
$colorGreenTransparent: #4caf50cf;
$colorYellowTransparent: #e7b008cf;
$colorPurpleTransparent: #9c27b0cf;

//FontFamily
$fontFamilyMain: 'Poppins', 'sans-serif';